.body {}

.header_img {
    width: 100%;
}

.block {
    background-color: white;
    margin-top: 5px;
    padding: 5px 8% 5px 8%;
}

ul {
    list-style: none;
    padding-left: 0px;
}

img {
    width: 100%;
}
